body {
    background-color: #f0f0f0;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

root {
    margin: 0;
    padding: 0;
    border: 0;
}

.main-header {
    height: calc(100% - 80px);
    width: 100vw;
    margin-top: 80px;
}

.main-background {
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
    object-fit: contain;
    pointer-events: none;
    z-index: 0;
}

.header-gradient {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.header-gradient span {
    position: absolute;
}

.header-gradient::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
        circle closest-side,
        #041c2c,
        #041c2c 50%,
        transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.header-gradient:hover::before {
    --size: 400px;
}

.about-section {
    margin-top: 80px;
}

.search-section {
    margin-top: 80px;
}

.search-box {
    width: 50%;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

.section-text {
    text-align: center;
    font-size: 22px;
    color: #041c2c;
    padding: 20px 15%;
}

.banner-image {
    width: 90%;
    padding: 10px 5%;
}

.background-container {
    background-image: url("images/main_background_dull2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 80px;
}

h1 {
    font-size: 40px;
    color: #041c2c;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.contact-frame {
    display: flex;
    padding: 0 5%;
    width: 90%;
}

.contact-element {
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 22px;
    color: #041c2c;
}

.map-element {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid_container {
    display: grid;
    grid-template-areas:
        "photo blank"
        "body body";

    grid-template-columns: 2fr 2fr;
    grid-template-rows: 170px 370px;

    padding: 20px;
    gap: 10px;
}

.card {
    background-color: #f0f0f0;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2e3440;
}

.photo {
    grid-area: photo;
    border-radius: 50%;
    background-size: cover;
    width: 170px;
}

.content {
    grid-area: body;
    width: 100%;
}

.content > h1 {
    font-size: 33px;
    color: #2e3440;
    text-align: left;
}

.content > p {
    font-size: 15px;
}

.employees_wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    margin: 30px;
    justify-content: center;
}

.fa-brands {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa-solid {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.social-link {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: black;
}

.social-link:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    color: white;
}

.fa-tiktok {
    background: linear-gradient(45deg, #00f2ea 0%, #000 50%, #ff0050 100%);
    color: white;
}

.whatson-chips {
    width: 80%;
    padding: 5px 10%;
    display: flex;
}

.chip {
    display: flex;
    border-radius: 7px;
    font-size: 25px;
    width: 35%;
    background-color: #f0f0f0;
    margin: 0 2.5%;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #041c2c;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.chip-text {
    margin: auto;
    text-align: center;
}

.chip:hover {
    background-color: #fff;
    color: rgb(0, 130, 180);
    transform: scale(1.05);
}

.project-slide-library {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-flow: wrap;
}

.project-slide {
    margin-top: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 49%;
    display: flex;
    align-items: center;
}

.project-image {
    padding: 20px;
    width: calc(100% - 40px);
    display: block;
    margin: auto;
}

.result-view {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.result-card {
    display: flex;
    font-family: sans-serif;
    background-color: #666;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    padding: 0;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s;
    text-decoration: none;
}

.result-card:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.result-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-left: 20px;
    color: #041c2c;
}

.result-category {
    display: none;
}

.search-section {
    display: flex;
    flex-flow: wrap;
}

.search-options {
    margin: auto;
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.search-box {
    width: 65%;
    margin-left: auto;
}

.search-category {
    width: 10%;
    margin-right: auto;
}
