body {
    background-color: black;
    font-family: sans-serif;
    margin: 0;
}

.main-header {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.header-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.header-gradient span {
    position: absolute;
}

.header-gradient::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
        circle closest-side,
        #041c2c,
        #041c2c 50%,
        transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.header-gradient:hover::before {
    --size: 400px;
}

.about-section {
    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("images/cafe3.jpeg");
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-text {
    font-size: 20px;
    padding: 2%;
    width: 50%;
    color: white;
}

h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li {
    font-size: 20px;
    height: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background: linear-gradient(#041c2c 0%, rgba(0, 0, 0, 0) 100%);
}

.active {
    background: linear-gradient(#041c2c 0%, rgba(0, 0, 0, 0) 100%);
}

.grid_container {
    display: grid;
    grid-template-areas:
        "photo blank"
        "body body";

    grid-template-columns: 2fr 2fr;
    grid-template-rows: 170px 370px;

    padding: 20px;
    gap: 10px;
}

.card {
    background-color: #e2e2ef;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2E3440;
}

.photo {
    grid-area: photo;
    border-radius: 50%;
    background-size: cover;
    width: 170px;
}

.content {
    grid-area: body;
    width: 100%;
}

.content > h1 {
    font-size: 33px;
    color: #2E3440;
}

.content > p {
    font-size: 15px;
}

.employees_wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    margin: 30px;
}